*{
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
}


/* titolo */
h1{
    text-align: center;
    margin-top: 3rem;
    color: #E5316E;
    font-size: 55px;
    
}


/* corpo  */

.container{
    max-width: 60%;
    background-color: white;
    margin: 30px auto;
}
    

.paragrafo{
    text-align: center;
}


/* MARCO  */
.marco{
    height: 80px;
    width: 320px;
    background-color: black;
    color: white;
    float: left;
    margin-right: 150px;
    
    
 
 
   
}

img{
    height: 5rem;
    float: left;

}
.pm{
    margin: 0px 0px 3px 0px;
}
.pm1{
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 3px;
}
.pm2{
    margin: 0px 0px 3px 0px;
}
.pm3{
    margin: 0px 0px 3px 0px;
    color: #99D9EA;
}

/* laura */

.laura{
    height: 80px;
    width: 320px;
    background-color: black;
    color: white;
    float: left;
    margin-right: 150px;

   
  
 
   
}


/* giorgio  */

.giorgio{
    height: 80px;
    width: 320px;
    background-color: black;
    color: white;
    float: left;
}
    
    
    
    
   
    

    


/* marta  */

.marta{
    height: 80px;
    width: 320px;
    background-color: black;
    color: white;
    clear: both;
    float: left;
    margin-top: 30px;
    margin-right: 150px;


 
}



/* roberto  */

.roberto{
    height: 80px;
    width: 320px;
    background-color: black;
    color: white;
    float: left;
    margin-top: 30px;
    margin-right: 150px;

   
   
}



/* daniela  */


.daniela{
    height: 80px;
    width: 320px;
    background-color: black;
    color: white;
    float: left;
    margin-top: 30px;
   
    

}






 




