*{
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
}


/* titolo */
h1{
    text-align: center;
    margin-top: 3rem;
    color: #E5316E;
    font-size: 55px;
    
}


/* corpo  */

.container{
    max-width: 60%;
    background-color: white;
    margin: 30px auto;
}
    

.paragrafo{
    text-align: center;
}


/* MARCO  */
.marco{
    height: 80px;
    width: 270px;
    background-color: black;
    color: white;
    
}

img{
    height: 5rem;
    float: left;

}
.pm{
    margin: 0px 0px 3px 0px;
}
.pm1{
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 3px;
}
.pm2{
    margin: 0px 0px 3px 0px;
}
.pm3{
    margin: 0px 0px 3px 0px;
    color: #99D9EA;
}

/* laura */

.laura{
    height: 80px;
    width: 270px;
    background-color: black;
    color: white;
}

.giorgio{
    height: 80px;
    width: 270px;
    background-color: black;
    color: white;

}
    

.marta{
    height: 80px;
    width: 270px;
    background-color: black;
    color: white;

}

.roberto{
    height: 80px;
    width: 270px;
    background-color: black;
    color: white;

}


.daniela{
    height: 80px;
    width: 270px;
    background-color: black;
    color: white;

}






 




